.component-input{
    justify-content: center;
    display: flex;
    gap: 8px;
    align-items: center;
    position: relative;
    top: -4%;
    .input{
        width: 100%;
        background-color: #262626;
        padding: 16px;
        border: 1px solid #262626;
        color: #808080;
        border-radius: 8px;
        &::placeholder{
            color: #808080;
        }
    }
    .btn{
        cursor: pointer;
        border-radius: 8px;
        padding: 16px;
        background-color: #1E6F9F;
        display: flex;
        gap: 8px;
        justify-content: center;
        align-items: center;
        color: #fff;
        border: 0;
        svg{
            background-color: #1E6F9F;
        }
    }
}